<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>我的地址</title>
		<script src="../../utils/origin/request.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div id="pageApp" class="pageApp">
			<ul class="mui-table-view">
				<li v-if="derail" class="mui-table-view-cell" v-for="(item,index) in addressList" :key="item.id">
					<div class="mui-slider-right mui-disabled">
						<a @tap="addressEdit(item,index)" class="mui-btn mui-btn-edit mui-icon mui-icon-compose"></a>
						<a @tap="addressDel(item,index)" class="mui-btn mui-btn-del mui-icon mui-icon-trash"></a>
					</div>
					<div class="mui-slider-handle">
						<div class="address">
							<div class="mui-row">
								<div class="mui-col-xs-6">
									<div class="user-name">{{item.name}}</div>
								</div>
								<div class="mui-col-xs-6">
									<div class="mui-pull-right">
										{{item.phone}}
									</div>
								</div>
							</div>
							<div class="mui-row">
								<div class="mui-col-xs-12">
									<div class="one-line user-address">
										{{item.info}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>

				<li v-if="!derail" style="padding: 0;" class="mui-table-view-cell" v-for="(item,index) in collectList" @tap="goInfo(item,index)" :key="item.id">
					<div class="mui-slider-right mui-disabled">
						<a @tap.stop="delCollect(item,index)" class="mui-btn mui-btn-del mui-icon mui-icon-trash"></a>
					</div>
					<div class="mui-slider-handle">
						<div class="mui-row">
							<div class="mui-col-xs-3 collect-left">
								<div class="collect-head">
									<img src="../../assets/img/index/index1.png" />
								</div>
							</div>
							<div class="mui-col-xs-9 collect-right">
								<div class="collect-title one-line text-gray">
									{{item.title}}
								</div>
								<div class="collect-info two-line">
									{{item.info}}
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>

	</body>

</html>